amqp==1.4.9
anaconda-client==1.6.0
anyjson==0.3.3
appdirs==1.4.0
billiard==3.3.0.23
celery==3.1.18
cffi==1.9.1
clyent==1.2.2
conda==4.3.8
cryptography==1.7.1
defusedxml==0.5.0
Django==1.8.4
django-allauth==0.30.0
django-crispy-forms==1.4.0
django-db-log==2.2.1
django-registration-redux==1.2
idna==2.2
kombu==3.0.37
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
python3-openid==3.0.10
pytz==2016.10
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.8.0
ruamel-yaml===-VERSION
six==1.10.0
